    <br><br><br><br>
    <div class="container">
      <h1>Subscribe</h1>
      <form id="subscribeForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="text" id="text" class="form-control" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="to" id="to" class="form-control" />
        </div>
        <div class="form-group">
          <div
            class="g-recaptcha"
            data-sitekey="6Lc40LobAAAAAPNoZ-ZXqlotmG7Vx5D5J__UVHSx"
          ></div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary" />
      </form>
    </div>

    <script>
      document.getElementById('subscribeForm').addEventListener('submit', e => {
        e.preventDefault();

        const to = document.querySelector('#to').value;
        const text = document.querySelector('#text').value;
        const captcha = document.querySelector('#g-recaptcha-response').value;

        return fetch('/subscribe', {
          method: 'POST',
          headers: { 'Content-type': 'application/json' },
          body: JSON.stringify({ to, text, captcha })
        })
          .then(res => res.json())
          .then(data => {
            console.log(data);
            alert(data.msg);
            if (data.success) return location.reload();
          });
      });


      {{!-- var name1 = document.querySelector('#name').value;
      var email1 = document.querySelector('#email').value;
      var captcha1 = document.querySelector('#g-recaptcha-response').value;

      fetch('/subscribe', {
          method: 'POST',
          headers: { 'Content-type': 'application/json' },
          body: JSON.stringify({ name1, email1, captcha1 })
        })
          .then(res => res.json())
          .then(data => {
            console.log(data);
            alert(data.msg);
            //if (data.success) return location.reload();
          }); --}}
    </script>